@font-face { font-family: "Raleway Tiny"; src: url("./assets/fonts/Raleway-Light.ttf") format("truetype"); }
@font-face { font-family: "Raleway Normal"; src: url("./assets/fonts/Raleway-Medium.ttf") format("truetype"); }
@font-face { font-family: "Raleway ExtraBold"; src: url("./assets/fonts/Raleway-ExtraBoldItalic.ttf") format("truetype"); }
@font-face { font-family: "Poppins Bold"; src: url("./assets/fonts/Poppins-Bold.otf") format("opentype"); }
@font-face { font-family: "Poppins Normal"; src: url("./assets/fonts/Poppins-Medium.otf") format("opentype"); }
@font-face { font-family: "Poppins Light"; src: url("./assets/fonts/Poppins-Light.otf") format("opentype"); }

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-size: 16px;
  font-family: "Poppins Normal";
}

html {
  overflow: hidden;
}
